body{
    
    background-image: url(image/204.JPG);
    background-size: cover;
    background-repeat: no-repeat;
background-position: center center;
text-align: center;
}
.logo{
width: 70px;
height: 50px;
margin-bottom: 7px;
float: left;
}
h1{
    color: white;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;

}
ul li {
    width: 100px;
    height: 60px;
   background-color: black;
    font-size: 60 px;
    display: inline-block;
    text-align: center;
    line-height: 60px;
    opacity: 0.8;
    float: left;
}
ul li a{
    text-decoration: none;
    color:white ;
    display: block;
}
ul li a:hover{
    background-color: black;
}
ul li ul li {
    display: none;
}
ul li:hover ul li{
    display: block;
}
footer{
    background-color: black;
    color: white;
   display: flex;
    padding: 20px;
    text-align: center;
    direction: rtl;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.container{
  max-width: 960px;
  margin: auto;

}
.container p{
    margin-bottom: 10px;
}
