body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
    text-align: right;
    direction: rtl;
}
h1{
    color: white;
}
.الفنانين{
    margin-bottom: 20px;
}
.الفنانين img{
    max-width: 200px;
    border-radius: 50%;
}
.الفنانين h2{
    font-size: 24px;
    margin-top: 10px;
}
.الفنانين p{
    font-size: 16px;
}